<div class="homeMain">
    <div class="bannerContainer">
        <img class="homeBanner" src="./style/images/banner.jpg">
    </div>
    <div class="mainMessage">
        <div class="mainMsgText">
            <hr>
            <h1>Youth Sport Performance</h1>
            <h3>Strength and Conditioning for Youth Athletes</h3>
        </div>
    </div>
    <div class="bodyMain">
        <div class="articleAll">
            <div class="articleBody">
                <span>IMAGE OF ARTICLE</span>
                <div class="articleText">
                    <h3>Article Title</h3>
                    <p>Qui eiusmod mollit cupidatat do deserunt amet. Veniam elit laboris cillum eu ea elit non ad sint est
                        nulla. Duis irure minim eu incididunt exercitation cillum nulla nostrud fugiat cupidatat. Nisi occaecat
                        magna occaecat mollit incididunt irure. Non duis quis minim occaecat magna sit culpa labore sint.</p>
                </div>
            </div>
            <hr>

        </div>

    </div>
</div>