@import "home";
@import "contact";
@import url("https://fonts.googleapis.com/css?family=Dosis|Orbitron|Oswald|Poppins");
// font-family: 'Oswald', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Dosis', sans-serif;

* {
  cursor: default;
}
body {
  overflow-x: hidden;
}
nav {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba($color: #000000, $alpha: 0.5);
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
  .navLogo {
    margin-left: 75px;
    display: flex;
    img {
      width: 35px;
      height: 35px;
      margin: 0;
      padding: 0;
      margin-top: 5px;
    }
    p {
      color: #eee;
      font-weight: 900;
      white-space: nowrap;

      padding: 0;
      margin: 0;
      margin-left: 7px;
      margin-top: 10px;
      text-transform: uppercase;
      font-family: "Orbitron", sans-serif;
      font-size: 24px;
      span {
        display: inline-block;
        margin: 0;
        padding: 0;
        transform: translateY(-4px);
        text-transform: lowercase;
      }
    }
  }
  .navLinkLists {
    display: flex;
    ul {
      margin: 0;
      // float: right;
      li {
        display: inline-block;
        list-style: none;
        color: #eee;
        padding: 0 10px 10px 10px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    .navLinks {
      margin-right: 25px;
      font-size: 1.075em;
      margin-top: 10px;
    }
    .socialIcons {
      margin-right: 75px;
      margin-top: 15px;
      // float: right;
      svg,
      i {
        cursor: pointer;
        rect {
          cursor: pointer;
        }
      }
    }
  }
}
